{
  "extends": ["airbnb-typescript", "prettier"],
  "plugins": ["prettier", "import", "jsx-a11y"],
  "rules": {
    "prettier/prettier": 1,
    "react/react-in-jsx-scope": 0,
    "react/jsx-props-no-spreading": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "jsx-a11y/anchor-has-content": 0,
    "react/require-default-props": 0,
    "@typescript-eslint/no-shadow": 0
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}