{
  "extends": ["airbnb-typescript", "prettier"],
  "plugins": ["prettier", "import"],
  "rules": {
    "prettier/prettier": 1,
    "react/react-in-jsx-scope": 0,
    "react/jsx-props-no-spreading": 0,
    "import/prefer-default-export": 0
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}