@tailwind base;
@tailwind utilities;

.container {
  margin-inline: auto;
  padding-inline: 1rem;
  width: 100%;
}

.sub-container {
  margin-inline: auto;
  padding-inline: 1rem;
  width: 100%;
}

@screen lg {
  .container {
    padding-inline: 0;
    max-width: 800px;
  }

  .sub-container {
    padding-inline: 0;
    max-width: 700px;
  }
}

.latest-tweet-loader > span > span {
  width: 210px;
}

@screen sm {
  .latest-tweet-loader > span > span {
    width: 480px;
  }
}

@screen lg {
  .latest-tweet-loader > span > span {
    width: 550px;
  }
}
