@tailwind base;
@tailwind utilities;

.container {
  margin-inline: auto;
  padding-inline: 0.5rem;
  width: 100%;
}

.sub-container {
  margin-inline: auto;
  padding-inline: 0.5rem;
  width: 100%;
}

@screen sm {
  .container {
    padding-inline: 1rem;
  }
}

@screen lg {
  .container {
    padding-inline: 0;
    max-width: 800px;
  }

  .sub-container {
    padding-inline: 0;
    max-width: 700px;
  }
}

.street-photos-grid {
  display: flex;
  width: auto;
}

.street-photos-grid-column {
  background-clip: padding-box;
}
